.carrossel__titulo{
    text-align: center;
    color: var(--laranja);
    text-transform: uppercase;
    background-color: var(--branco);
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 .5em 0;
}

.swiper-slide img{
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next{
    display: none;
}

.swiper-pagination{
    position: initial;
    margin: .5em 0;
}